@model IEnumerable<Library.Models.Book>
@{
    
}
<div class="container pt-3">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-dark" href="/Book/Add">Daha fazla ekle</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Kitaplar</h3>
            <table class="table table-stripped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>Kitap Adı</th>
                        <th>Tür</th>
                        <th>Isbn</th>
                        <th>Sayfa Sayısı</th>
                        <th>Yazar</th>
                        <th>Yayıncı</th>
                        
                        <th>Eylem</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.GerneName</td>
                            <td>@item.Isbn</td>
                            <td>@item.TotalPages</td>
                            <td>@item.AuthorName</td>
                            <td>@item.PublisherName</td>


                            <td>
                                <a class="btn btn-success" href="/Book/Update?id=@item.Id">Düzenle</a>
                                <a class="btn btn-danger" onclick="return window.confirm('Emin misin?')" href="/Book/Delete?id=@item.Id">Sil</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
